html {
  height: 100%;
  background: -moz-linear-gradient(45deg, rgba(44, 83, 158, 0.59) 0%, rgba(44, 83, 158, 0.59) 1%, rgba(44, 83, 158, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(44, 83, 158, 0.59) 0%, rgba(44, 83, 158, 0.59) 1%, rgba(44, 83, 158, 1) 100%);
  background: linear-gradient(45deg, rgba(44, 83, 158, 0.59) 0%, rgba(44, 83, 158, 0.59) 1%, rgba(44, 83, 158, 1) 100%);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  position: fixed;
}

#root {
  min-height: 100%;
  display: table;
  width: 100%;
}

.title-screen {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.game-title {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 65px;
  line-height: 85px;
  padding: 50px 0;
}

.btn__basic {
  color: #fff;
  border-color: #fff;
}